body{
    margin: 0px;
}


header{
    background-image: url(img/pattern.png);
    background-color: #4EA0FF;
    background-size: contain;
}

.logo{
   width: 25%;
   padding-top: 5%;
   padding-bottom: 1%;
   padding-left: 15px;   
}

main {
    padding-left: 15px;
}

h1{
    font-size: 30px;
    margin-bottom: 2px;
}

.uTitle{
    margin-bottom:20px;
}

#under{
    color: #808080;
    font-size: large;
}

#data {
    color: #808080;     
}

#under-img{
    font-size: 13px;
    margin-top: 2px;
}

#inner{
    background-color:#f8fb63;
}

#int{
    background-color: #20A9E5;
    color: white;
    
    width: 500px;
}

table{
    border-collapse: collapse;
}

th{
    padding:5px;
    padding-right:70px
}

td{
    padding-top: 20px;
    padding-bottom: 20px;
}
